# {{ ansible_managed }}

# Security configuration
UID_DOMAIN = {{ sg_domain_internal }}

# Infrastructure
CENTRAL_MANAGER = {{ condor_manager_ip }}
COLLECTOR_HOST = $(CENTRAL_MANAGER)
COMPUTE_NODES = condor_pool@$(UID_DOMAIN)/*.{{ sg_domain_internal }}
USERS = *@$(UID_DOMAIN)

# Authentication
SEC_PASSWORD_FILE = {{ condor_config_dir }}/pool_password

SEC_DEFAULT_AUTHENTICATION = REQUIRED
SEC_DEFAULT_ENCRYPTION = REQUIRED
SEC_DEFAULT_INTEGRITY = REQUIRED

#SEC_DEFAULT_AUTHENTICATION_METHODS = FS, PASSWORD, CLAIMTOBE
SEC_DEFAULT_AUTHENTICATION_METHODS = FS, PASSWORD
SEC_DAEMON_AUTHENTICATION_METHODS = PASSWORD
SEC_NEGOTIATOR_AUTHENTICATION_METHODS = PASSWORD

# Authorization
ALLOW_READ = *.{{ sg_domain_internal }}
ALLOW_WRITE = *.{{ sg_domain_internal }}
ALLOW_ADMINISTRATOR = root@$(UID_DOMAIN)/$(CENTRAL_MANAGER)
ALLOW_DAEMON = condor_pool@$(UID_DOMAIN)/*.{{ sg_domain_internal }}, condor@$(UID_DOMAIN)/$(IP_ADDRESS), $(FULL_HOSTNAME)
ALLOW_NEGOTIATOR = condor_pool@$(UID_DOMAIN)/$(CENTRAL_MANAGER)

#ALLOW_ADMINISTRATOR = root@$(UID_DOMAIN)/$(CENTRAL_MANAGER), condor@$(UID_DOMAIN)/$(CENTRAL_MANAGER)
#ALLOW_CONFIG = root@$(UID_DOMAIN)/$(CENTRAL_MANAGER)
#NEGOTIATOR.ALLOW_WRITE = $(CENTRAL_MANAGER)
#COLLECTOR.ALLOW_ADVERTISE_MASTER = $(CENTRAL_MANAGER), $(COMPUTE_NODES)
#COLLECTOR.ALLOW_ADVERTISE_SCHEDD = $(CENTRAL_MANAGER)
#COLLECTOR.ALLOW_ADVERTISE_STARTD = $(COMPUTE_NODES)
#SCHEDD.ALLOW_WRITE = $(USERS)
#SHADOW.ALLOW_WRITE = $(CENTRAL_MANAGER), $(COMPUTE_NODES)

### TESTING
#SEC_READ_AUTHENTICATION = OPTIONAL
#SEC_CLIENT_AUTHENTICATION = REQUIRED
#SEC_CLIENT_AUTHENTICATION_METHODS = FS,PASSWORD,CLAIMTOBE
#SEC_READ_AUTHENTICATION_METHODS = FS,PASSWORD,CLAIMTOBE

# Prevent user "nobody" running jobs
SCHEDD.DENY_WRITE = nobody@$(UID_DOMAIN)

# Clear out any old-style HOSTALLOW settings:
HOSTALLOW_READ =
HOSTALLOW_WRITE =
HOSTALLOW_DAEMON =
HOSTALLOW_NEGOTIATOR =
HOSTALLOW_ADMINISTRATOR =
HOSTALLOW_OWNER =

# Port specification
LOWPORT = {{ condor_port_first }}
HIGHPORT = {{ condor_port_last }}

