# {{ ansible_managed }}

CVMFS_NFILES={{ CVMFS_NFILES }}
CVMFS_REPOSITORIES={{ CVMFS_REPOSITORIES }}
CVMFS_CACHE_BASE={{ CVMFS_CACHE_BASE }}
CVMFS_QUOTA_LIMIT={{ CVMFS_QUOTA_LIMIT }}
CVMFS_HTTP_PROXY=http://{{ squid_server }}
