#!/bin/bash

# Edit customize.sh as you wish to customize squid.conf.
# It will not be overwritten by upgrades.
# See 'customhelps.awk' for information on predefined edit functions.
# In order to test changes to this, run this to regenerate squid.conf:
#	service frontier-squid
# and to reload the changes into a running squid use
#	service frontier-squid reload
# Avoid single quotes in the awk source or you have to protect them from bash.

awk --file `dirname $0`/customhelps.awk --source '{
setoption("acl NET_LOCAL src", "10.0.0.0/255.0.0.0")
setoption("cache_mem", "{{ CACHE_MEM }} MB")
setoption("maximum_object_size_in_memory", "{{ MAX_OBJ_SIZE_MEM }} KB")
setoptionparameter("cache_dir", 3, "{{ CACHE_DIR }}")
setoption("workers", {{ WORKERS }})
setoptionparameter("cache_dir", 2, "/var/cache/squid/squid${process_number}")
print
}'
